body {
 
    background-color: #f4f4f4;
    color: #333;
}
.t-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.t-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

section{
    margin-bottom:30px;
}
section.our-team .container{
    
    background-color:#fff;
}
section .section-title{
    text-align:center;
}
section.what-we-do {
    background-color:#151b26;
    color:#fff;
    
}
.svg-cover{
    padding:50px;
}
.svg-div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  width:200px;
  height:200px;
 
}
.svg-desc{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
